.App {
  background-color: #222;
  text-align: center;
  height: 100vh;
}

.App-header {
  padding: 10px;
  color: white;
}

.App-title {
  display: inline;
  font-size: 1.5em;
  font-weight: 100;
  margin: 0 5px;
  padding: 0;
}

#btn-open-image {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 3em;
  height: 3em;

  font-size: 1em;
  color: white;
  background: #f50057;
  border: none;
  border-radius: 50%;
  box-shadow: black 0 5px 10px;
}

#btn-open-image:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#open-button {
  font-size: 1.5em;
  color: white;
  margin: 0 5px;
}

#photo {
  margin: 10px;
  max-width: 80%;
  max-height: 50vh;
}

#histogram-chart {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 30vh;
}

.Histogram-channel {
  width: 80%;
  margin: 0 auto;
}

.Histogram-channel > ul {
  list-style: none;
  padding: 0;
}

.Histogram-channel ul li {
  display: inline-block;
  margin-right: 10px;
}

.Histogram-channel ul li:last-child {
  margin-right: 0;
}
